.active {
  background-color: whitesmoke;
}

nav {
  display: flex;
  padding-top: 2%;
  justify-content: flex-end;
  background-color: rgb(24, 119, 242);
  color: rgb(65, 65, 72);
  position: sticky;
  top: 0;
}

nav h1 {
  position: absolute;
  top: 40%;
  left: 5%;
  z-index: 1;
  font-size: 6em;
  font-weight: bold;
  color: black;
  text-shadow: -2.5px -2.5px 0 #fff, 2.5px -2.5px 0 #fff, -2.5px 2.5px 0 #fff,
    2.5px 2.5px 0 #fff;
  -webkit-background-clip: text;
  background-clip: text;
  font-family: "Modak", system-ui;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;
}

nav ul {
  display: flex;
  list-style: none;
  margin-left: 45%;
}

nav ul li {
  font-size: 1.3rem;
  font-weight: 450;
  margin-right: 20px;
}

nav ul li a {
  text-decoration: none;
  color: rgb(65, 65, 72);
  border-radius: 0.5rem;
}

nav ul li a.active {
  padding: 4%;
  white-space: nowrap; 
  background-color: whitesmoke;
  transition: background-color 1.4s ease;
}

nav ul li:last-child {
  display: flex;
  align-items: center;
  margin-top: -5px;
  width: auto;
}
nav ul li:last-child a {
  white-space: nowrap; 
}

nav ul li:last-child input[type="text"] {
  padding: 8px 12px; 
  border-radius: 20px; 
  height: 40px;
}

nav ul li:last-child input[type="text"]:focus {
  outline: none;
}

/* nav .menu {
  display: none;
  position: absolute;
  top: 0.75rem;
  right: 0.5rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.5rem;
  height: 2rem;
}

nav .menu span {
  height: 0.4rem;
  width: 100%;
  background-color: rgb(65, 65, 72);
  border-radius: 0.2rem;
} */

@media (max-width: 480px) {
  nav .menu {
    display: flex;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 100%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    margin-left: -4%;
  }

  nav ul li {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
  }

  nav .title {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
  }

  nav .title {
    text-align: center;
    margin-top: 30%;
  }
}
